.display-flex{
  display: flex;
}
.hide{
  display: none;
}
.bg-light{
  padding: 100px;
  background-color: dimgray;
}
.brand{
  font-size: 3rem;
  color: chocolate;
  font-size: 2.5rem;
}
.navbar{
  justify-content: space-between;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  margin-top: 60px;
}
.btn{
  border-radius: 30px;
  color: white;
  background-color: darkorange;
  margin-right: 30px;
  height: 25px;
  width: 60px;
}
.strong{
  font-family: fantasy;
}
.container h1{
  color: white;
  font-size: 3rem;
}
.btn-2{
  background-color: chocolate;
}
.btn-3{
  background-color: dimgray;
}
.btn-2, .btn-3{
 border-radius: 30px;
 width: 140px;
 height: 30px;
 color: white
}
.container{
  display: flex;
}
.container-1{
  margin-top: 100px;
}
.container-2{
  margin-left: 250px;
  display: flex;
}
.btn-4 h1{
  color: white;
}
.btn-5 h1{
  color: white;
}
.btn-4, .btn-5{
   border: 1px solid white;
   border-radius: 30px;
   height: 90px;
   width: 150px;
   background-color: dimgray;
}
.gallery-1{
  margin-left: 620px;
  margin-top: -140px;
}
.gallery-2{
  margin-left: 900px;
  margin-top: -380px;
}
.btn-6{
  background-color: chocolate;
  border-radius: 30px;
 width: 170px;
 height: 40px;
 color: white
}
.container-3 h1{
  color: white;
  font-size: 3rem;
}
.container-3{
  text-align: center;
  margin-top: 400px;
}
.container-4{
   display: flex;
   gap: 70px;
   text-align: center;
   margin-left: 50px;
}
.content img{
  border: 1px solid white;
  border-radius: 50%;
}
.content h4{
  color: white;
}
.first-section{
   background-color: darkgrey;
   display: flex;
   height: 350px;
   border-radius: 30px;
}
.content-1{
  margin-left: 80px;
}
.content-1  h1{
   color: white;
   font-size: 3rem;
}
.content-2 img{
   width: 300px;
   height: 250px;
   border-radius: 30px;
   margin-left: 210px;
  margin-top: 50px;
}
.second-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: darkslategrey;
  padding: 20px;
  border-radius: 30px;
  margin-left: 40px;
  width: 920px;
  height:600px;
}
.second-section h5{
  color: white;
}
.second-section img{
  width: 300px;
  height: 270px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 10px;
 
}
/* This is challenges part */
.challenges-heading h1{
  color: white;
}
.challenges-heading{
  text-align: center;
}
.third-section{
  display: flex;
  background-color: darkgrey;
  width: 1200px;
  height: 400px;
  margin-top: 40px;
  margin-left: -80px;
  gap: 60px;
}
table{
  margin-left: 130px;
  border-collapse: collapse;
  width: 300px;
  height: 250px;
  text-align: center;
}
.table-1{
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
td, th {
  padding: 5px 10px 5px 10px;
  border: 1px solid darkslategrey;
}
thead{
  color: white;
}
.btn-9{
  background-color: rgb(238, 105, 11);
  border-radius: 30px;
  width: 190px;
  height: 50px;
  color: white;
  margin-top: 30px;
}
.container-10{
  margin-top: 40px;
  margin-left: -600px;
}
.form{
  gap: 50px;
  border-radius: 30%;
}
.container-6 h1{
   color: white;
   font-size: 3rem;
}
.container-6{
    text-align: center;
}
.group{
  margin-left: 20px;
  margin-top: -90px;
}
.footer{
  background-color: darkolivegreen;
  width: 100%;
  height: auto;
  margin-left: -100px;
  padding: 150px;
  margin-top: 20px;
  display: flex;
  gap: 100px;
}
.container-7{
  margin-top: -120px;
}
.container-7 h1{
   color: chocolate;
   font-size: 3rem;
}
.container-8{
  margin-top: -90px;
}
.container-8 h3{
  color: white;
}
.container-9{
  margin-top: -90px;
}
.container-9 h3{
  color: white;
}
.last-line{
  margin-top: -50px;
  text-align: center;
}

/* responsive header */
@media screen and (max-width: 576px) { 
   .navbar{
     flex-direction: column;
   }
   .container{
    flex-direction: column;
   }
   .container-1{
    margin-top: 10px;
   }
   .container-2{
    flex-direction: column;
    margin-left:40px;
   }
   .btn-2, .btn-3{
      width: 160px;
      height: 50px;
   }
   .gallery-1{
    margin-left: 20px;
    margin-top: -10px;
  }
  .gallery-2{
    margin-left: 250px;
    margin-top: -350px;
  }
   .nav-links{
    margin-left: -40px;
    display: none;
   }
}

 /* responsive main section */
@media screen and (max-width: 576px) {
   .container-4{
    flex-direction: column;
    margin-left: 0px;
    gap: 20px;
   }
   .container-3 h1{
    text-align: center;
    font-size: 1.90rem;
  }
}

/* responsive first section */
@media screen and (max-width: 576px) { 
  .first-section{
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    width: 100%;
  }
  .first-section img{
    height: auto;
    width: 100%;
    margin-left: -0px;
  }
  .first-section h1{
   text-align: center;
   margin-left: -50px;
  }
  .btn-6{
   width: 270px;
   height: 50px;
   margin-left: -80px;
  }
  .sub-content-1{
   margin-left: -50px;
  }
}
  
/* responsive second section */
@media screen and (max-width: 576px) {
  .second-section{
    padding: 0px;
    margin-left: -10px;
    width: 300px;
    height: auto;
    grid-template-columns: none;
  }
  .container-6 h1{
    margin-left: 40px;
    font-size: 2rem;
 }
}

/* responsive challenges part */
@media screen and (max-width: 576px) {
  .third-section{
    flex-direction: column;
    width: 500px;
    padding: 5px;
    height: auto;
  }
  .container-10{
    margin-top: -80px;
    margin-left: 130px;
    margin-bottom: 20px;

  }
}

/* responsive footer  */
@media screen and (max-width: 576px) {
  .footer{
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-left: px;
  }
}